<div class="main">
  <div class="menu">
      <div class="menu-list menu-list-body">
        <p>問題集</p>
        <ul>
          <% @list_names.zip(@list_id) do |list_name,list_id| %>
          <%= link_to(list_name.list_name,"/library/index/#{list_id.list_id}") %>
          <% end %>
          <%= link_to("お気に入り問題リスト","/library/fav") %>
          <%= link_to("「あとで確認する」問題リスト","/library/check") %>
          <%= link_to("誤答問題リスト","/library/incorr") %>
          <%= link_to("未修問題リスト","/library/unlearn") %>
          <%= link_to("すべて表示","/library/all") %>
        </ul>
      </div>

    <div class="menu-body">
      <p>検索</p>
      <%= form_tag("/library", :method => "get") do %>
        <input name="search">
        <input type="submit" value="検索">
      <% end %>
    </div>
  </div>

  <div class="container">

        <% @quizes.each do |quiz| %>
        <div class="library-index-item">
          <div class="question-item">
            <%= link_to(quiz.ques_s,"/library/#{quiz.id}") %>
          </div>
          <div class="answer-item">
            <%= link_to(quiz.answer,"") %>
          </div>
        </div>
        <% end %>
        <div class="pagenation">
          <%= paginate @quizes %>
        </div>

  </div>
</div>
